VITE_SUPABASE_URL=https://tutazefeufrnxfcwjdge.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1dGF6ZWZldWZybnhmY3dqZGdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1Mjg1MSwiZXhwIjoyMTA0MTA0NTUxfQ.I4RXkV149LhNgFs58YfA8Hu3q2COvVsHdijKgwTz5oA
